<p id="notice"><%= notice %></p>
<div id="createData"></div>
<h1 class="pt-4">Markers</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Url</th>
      <th scope="col">Type</th>
      <th scope="col">Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="data">
    <% @markers.each do |m| %>
            <%= render 'data', m: m %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Marker', new_marker_path, class: "btn btn-secondary", remote: true %>
