<nav class="navbar navbar-expand-lg navbar-dark bg-info mb-4 py-3">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto mt-2">
      <li class="nav-item active">
        <%= link_to "Bookmarks" , root_path, class: "navbar-brand mx-5" %>
      </li>
      <li class="nav-item">
        <%= link_to "Markers" , markers_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Categories" , categories_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Types" , types_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>